.content{
    width: 50%;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.float{
    float: left;
    width: 50%;
}

.kiri{
    background-color: cadetblue;
    height: 300px;
    border-radius: 5% 0% 0% 5%;
}

.kanan{
    background-color: darkcyan;
    height: 300px;
    border-radius: 0% 5% 5% 0%;
    margin-bottom: 5%;
}

p{
    text-align: center;
    color: white;
    font-family: Segoe UI;
    font-weight: bold;
}

.btn {
    text-align: center;
}

.tmbl {
    font-family: Segoe UI;
    background-color: skyblue;
    border: none;
    color: white;
    font-weight: bolder;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
}