#solid{
    border-style: solid;
    text-align: center;
}

.btn{
    background-color: aqua;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
}

h2{
    color: teal;
}

h1, h3{
    color: tomato;
}